.reservation-container {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 5px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservation-container p {
  padding-right: 10px;
}

.people-status-container {
  flex-wrap: wrap;
}