/* dashboard reservation css */
.res-container .reservation-container {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 5px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-container .reservation-container p {
  padding-right: 10px;
}

.res-container .people-status-container {
  flex-wrap: wrap;
}

