.menu-routes-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.layout-menu-container {
  max-width: 100px;
  flex: 1;
}

.layout-routes-container {
  flex: 9;
  padding: 5px;
}
