.menu-routes-container {
  display: flex;
  flex-direction: row;
}

.menu-container {
  background-color: #e3e3e3;
  height: 100%;
  min-width: 200px;
  height: auto;
  flex: 1;
}

.routes-container {
  background-color: white;
  flex: 5;
  padding: 5px;
}
