.menu-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #286fe0;
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
  padding: 25px 0px 25px 0px;
  height: 97vh;
}

ul {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.nav-icons-container {
  margin-top: 30px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.nav-logo-link {
  margin-bottom: 25px;
}

.nav-icons-container svg path { color: #efefef }

.nav-icon {
  transform: scale(1.75);
  align-self: center;
  min-height: 60px;
}

.nav-item {
  align-content: center;
}
.nav-item:hover {
  background-color: #1a4ea1;
  margin-left: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}