.new-table-form {
  margin-left: 10px;
  padding: 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #e3e3e3;
  margin-bottom: 10px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit-button {
  margin-top: 5px;
  margin-right: 5px;
  color: #286fe0;
  border-style: solid;
  border-width: 2px;
  border-color: #286fe0;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: white;
  justify-items: center;
}
.submit-button:hover {
  color: white;
  background-color: #286fe0;
}

.delete-button {
  margin-top: 5px;
  margin-right: 5px;
  color: #F05454;
  background-color: white;
  border-color: #F05454;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.delete-button:hover {
  color: white;
  background-color: #F05454;
}

.table-form-cancel-button {
  margin-top: 5px;
  color: #8f8f8f;
  background-color: white;
  border-color: #8f8f8f;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.table-form-cancel-button:hover {
  color: white;
  background-color: #8f8f8f;
}